{% extends "modalBase.html" %}

<!-- Modal For Create Rack -->
{% block modalId %} id="addRackModal" {% endblock modalId %}

{% block modalTitle %} <i class="fas fa-plus"></i>&nbsp; Add Rack{% endblock modalTitle %} 

{% block modalBody %}
<form method="POST" {% block formAction %} action="{% url 'create-rack' %}" {% endblock formAction %} >
  {% csrf_token %}
  <div class="modal-body">
    {% block valueId %}{% endblock valueId %}

    <!-- Rack Name -->
    <div class="input-group mb-3">
      <span class="btn border-secondary bg-light side-label"
        ><i class="fa fa-server" aria-hidden="true"></i></span
      ><span class="text-danger require-dot" title="required">*</span>
      <input type="text" name="rack_name" id="rack_name" class="form-control" maxlength="60" placeholder="Rack Name*" {% block valueName %}{% endblock valueName %} required />
    </div>

     <!-- Compartment select -->
     {% comment %} <div class="input-group mb-3">
      <span class="btn border-secondary bg-light side-label"><i class="fa fa-server" aria-hidden="true"></i></span>
      <span class="text-danger require-dot" title="required">*</span>
      <select name="compartment" class="form-control" required>
        {% block compartmentOption %}
        <option value="" hidden>Select Compartment</option>
        {% endblock compartmentOption %}
        {% for compartment in compartments %}
        <option value="{{ compartment.compartment_id }}">{{ compartment.compartment_name }}</option>
        {% endfor %}
    </select>
      &nbsp;<span class="btn border-success bg-light" title="Add Compartment"><i class="fa fa-plus text-success" aria-hidden="true"></i></span>
    </div> {% endcomment %}

    <div class="mt-4 d-flex justify-content-end" style="width: 100%">
      <button type="submit" class="btn btn-success mb-3">
        {% block btnAction %}<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
        Add Rack{% endblock btnAction %}
      </button>
      <button type="reset" class="btn btn-outline-dark mb-3 ml-2" title="Reset">
        <i class="fa fa-sync-alt" aria-hidden="true"></i>&nbsp;
      </button>
      <button
        type="button"
        data-dismiss="modal"
        class="btn btn-outline-danger mb-3 ml-2"
        title="Close"
      >
        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;
      </button>
    </div>
  </div>
</form>
{% endblock modalBody %}
