<!-- templates/realtime_scan.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Real-time QR Code Scanner</title>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <style>
      body {
        font-family: sans-serif;
        text-align: center;
      }

      .title {
        margin-top: 1em;
        font-size: 1.75em;
        color: skyblue;
      }

      #preview {
        width: 100%;
        max-width: 800px;
        margin: 1em auto;
        border: 1px solid #000;
        border-radius: 8px;
      }
    </style>
  </head>
  <body>
    <h2 class="title">Real Time QR Code Scanner</h2>
    <form method="post" action="{% url 'process_qr_code' %}" enctype="multipart/form-data" onsubmit="return validateForm()">
      {% csrf_token %}
      <video id="preview" playsinline></video>
      <input type="hidden" id="scanned-data-input" name="scanned_data" />
      <input type="submit" value="Submit" style="display:none;" />
    </form>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
          console.error("getUserMedia is not supported in this browser.");
          return;
        }

        const scanner = new Instascan.Scanner({
          video: document.getElementById("preview"),
        });

        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then(function (stream) {
            document.getElementById("preview").srcObject = stream;

            scanner.addListener("scan", function (content) {
              const scannedData = typeof content === 'string' ? JSON.parse(content) : content;
              console.log("Scanned Data:", scannedData);

              // Update the hidden input field with the scanned data
              document.getElementById("scanned-data-input").value = JSON.stringify(scannedData);

              // Submit the form
              document.querySelector("form").submit();
            });
          })
          .catch(function (error) {
            console.error("Error accessing camera:", error);
          });

        Instascan.Camera.getCameras()
          .then(function (cameras) {
            if (cameras.length > 0) {
              scanner.start(cameras[0]);
            } else {
              console.error("No cameras found.");
            }
          })
          .catch(function (e) {
            console.error("Camera Error:", e);
          });
      });

      // Add a function to validate the form if needed
      function validateForm() {
        // Add your validation logic here
        return true; // or false based on validation result
      }
    </script>
  </body>
</html>
