/* ======== Labels of inputs ======== */
.side-label {
    width: 45px;
}

.require-dot {
    display: flex;
    position: absolute;
    left: 3px;
    font-size: large;
}

/* ============== DATATABLE ============== */

/* ===== Searchbox ====== */
/* .dataTables_filter {
    display: none;
} */

/* === Pagination === */

.dataTables_paginate {
    margin-top: -30px !important;
}

/* ======= Show Entries ======= */
.dataTables_length {
    margin-top: 10px !important;
}

.dataTables_length select {
    color: #000 !important;
}

.dt-buttons {
    margin-bottom: -50px !important;
}
/* dt-buttons responsive design */
@media screen and (max-width: 767px) {
    .dt-buttons {
        margin-bottom: 0px !important;
        width: 50% !important;
    }
}
/* search box responsive design */
/* @media screen and (max-width: 767px) {
    .dataTables_filter {
        justify-content:  flex-end !important;
        align-self: flex-end !important;
    }
} */

table thead {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    color: #fff !important;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2 !important;
} 

/* table top head hover color */
table thead tr:hover {
    background-color: #091929;
    color: #fff !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    font-weight: bold;
}


thead {
    background-color: #3699FF;
    color: white !important;
    text-align: center;
}

/* Table head input field like bootstrap input field  */
thead input {
    width: 100%;
    text-align: center;
    height: 100%;
    padding: 4px;
    box-sizing: border-box;
    border: .5px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

tbody {
    text-align: center;
    border: 1px solid #ddd;
}

table.dataTable thead > tr > th.sorting {
    color: #fff;
}
.dataTables_wrapper .dataTable th.sorting_desc {
    color: lightgray !important;
    font-weight: 800;
}

.dataTables_wrapper .dataTable th.sorting_asc {
    color: lightgray !important;
    font-weight: 800;
}


/*------------------------------------------------- 
============# SWEETALERT CUSTOOMIZED #============
--------------------------------------------------- */
.swal2-modal {
    background-color: rgba(0, 0, 0, 0.6551);
    color: #fff;
    justify-items: center;
}

.swal2-title {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #fff !important;
}

.swal2-text {
    font-size: 16px;
    color: #fff;
}

/* Button */
.swal2-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #198754;
    font-size: 12px;
    border: 1px solid #198754;
}

.swal2-button:focus {
    box-shadow: none !important;
}

.swal2-button:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #198754;
}

/* Icons */
.swal2-icon {
    display: flex !important;
    align-items: center !important;
    justify-self: center !important;
}
.swal2-icon--success__hide-corners {
    background: none !important;
}

.swal2-icon--success::before,
.swal2-icon--success::after {
    background: none !important;
}


